.indicator {
    margin-left: 0 !important;
}

.tabs {
    /*margin-left: 0 !important;*/
    margin: 0 !important;
}

.tabs-content.carousel.carousel-slider .carousel-item.active {
    position: relative;
}

td, th{
    border-radius: 0;
}

.md-typeset__table{
    width: 100%;
}