.category-btn {
    width: 128px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #00bcd4;
    margin: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 20px 5px;
    line-height: 16px;
}

.category-btn [class^="fa-"] {
}

.category-btn-small {
    height: 36px;
    width: fit-content;
    padding: 16px;
}

.category-btn:hover {
    background: #00cee6;
}

.category-btn * {
    overflow-wrap: break-word;
    width: 100%;
}


.category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}